<div class="form-container">
  <form class="form-box">
    <mat-icon class="arrow-icon">arrow_back</mat-icon>
    <h1 class="title mb-40">Registro de Usuario</h1>

    <mat-form-field
      class="mb-20"
      color="accent"
      appearance="outline"
      *ngFor="let input of inputsValidators; index as i"
    >
      <mat-label>{{ inputsValidators[i].label }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="inputsValidators[i].validator"
        [placeholder]="i === 3 ? 'Ex. pat@example.com' : ''"
      />

      <mat-error
        *ngIf="
          i !== 3 &&
          inputsValidators[i].validator.hasError('pattern') &&
          !inputsValidators[i].validator.hasError('required')
        "
      >
        Por Favor Solo Introduzca <strong>Letras</strong>
      </mat-error>

      <mat-error
        *ngIf="
          i === 3 &&
          inputsValidators[i].validator.hasError('email') &&
          !inputsValidators[i].validator.hasError('required')
        "
      >
        Por Favor Introduzca un Correo <strong>Válido</strong>
      </mat-error>
      <mat-error *ngIf="inputsValidators[i].validator.hasError('required')">
        {{ inputsValidators[i].label }} es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="save-button"
      disabled="{{ isDisabled }}"
    >
      Guardar
    </button>
  </form>
</div>
