<div class="form-container">
  <form class="form-box">
    <mat-icon class="arrow-icon">arrow_back</mat-icon>
    <h1 class="title mb-40">Registro de Usuario</h1>

    <mat-form-field class="mb-20" color="accent" appearance="outline">
      <mat-label>Nombre(s)</mat-label>
      <input type="text" matInput [formControl]="inputsValidators.name" />
      <mat-error
        *ngIf="
          inputsValidators.name.hasError('pattern') &&
          !inputsValidators.name.hasError('required')
        "
      >
        Por Favor Solo Introduzca <strong>Letras</strong>
      </mat-error>
      <mat-error *ngIf="inputsValidators.name.hasError('required')">
        El Nombre es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-20" color="accent" appearance="outline">
      <mat-label>Apellido Paterno</mat-label>
      <input type="text" matInput [formControl]="inputsValidators.lastname1" />
      <mat-error
        *ngIf="
          inputsValidators.lastname1.hasError('pattern') &&
          !inputsValidators.lastname1.hasError('required')
        "
      >
        Por Favor Solo Introduzca <strong>Letras</strong>
      </mat-error>
      <mat-error *ngIf="inputsValidators.lastname1.hasError('required')">
        El Apellido Paterno es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-20" color="accent" appearance="outline">
      <mat-label>Apellido Materno</mat-label>
      <input type="text" matInput [formControl]="inputsValidators.lastname2" />
      <mat-error
        *ngIf="
          inputsValidators.lastname2.hasError('pattern') &&
          !inputsValidators.lastname2.hasError('required')
        "
      >
        Por Favor Solo Introduzca <strong>Letras</strong>
      </mat-error>
      <mat-error *ngIf="inputsValidators.lastname2.hasError('required')">
        El Apellido Materno es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-20" color="accent" appearance="outline">
      <mat-label>Correo</mat-label>
      <input
        type="email"
        matInput
        [formControl]="inputsValidators.email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          inputsValidators.email.hasError('email') &&
          !inputsValidators.email.hasError('required')
        "
      >
        Por Favor Ingrese un Correo Válido
      </mat-error>
      <mat-error *ngIf="inputsValidators.email.hasError('required')">
        El Correo es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="save-button"
      disabled="{{ isDisabled }}"
    >
      Guardar
    </button>
  </form>
</div>
